{% extends 'base.html.twig' %}

{% block title %}Edit {{ planet.name }}{% endblock %}

{% block main %}

{% if app.user == null %}
    <script>
        window.location.href = "{{ path('app_login') }}";
    </script>
{% endif %}

<section class="wrapper">
    <h1>Edit {{ planet.name }}</h1>

    {{ include('planet/_form.html.twig') }}

    {# {{ include('planet/_delete_form.html.twig') }} #}
</section>

{% endblock %}