{% extends 'base.html.twig' %}

{% block title %} {{ planet.name }} {% endblock %}


{% block main %}
<section class="planetHead wrapper d-flex">
    <div class="planetHeadInfo">
        <h1> {{ planet.name|upper }} </h1>
        <p><span class="brunoAce">Galaxy :</span> {{ planet.galaxy }}</p>
        <p><span class="brunoAce">Type :</span> {{ planet.type }}</p>
        <p><span class="brunoAce">Condition :</span> {{ planet.lifeCondition }}</p>

        <p>created by 
            <a href="{{ path('user', {id: planet.author.id}) }}" class="d-inline">{{ planet.author.username }}</a>, 
            the {{ planet.createdAt|date('d-m-Y') }}
            {% if planet.updatedAt != null %}
            , updated the  {{ planet.updatedAt|date('d-m-Y') }}  at  {{ planet.updatedAt|date('H:i') }}
            {% endif %}
        </p>

    </div>

    <img src={{ vich_uploader_asset(planet, 'imageFile') }}  alt="image planet"></img>
</section>
<section class="planetBody wrapper">
    <article>
        <h2>Description :</h2>
        <p> {{ planet.description }} </p>

        {% if app.user != null and app.user.id == planet.author.id %}
            <a href="{{ path('planet.edit', {id: planet.id}) }}" class="btn btn_outline btn_center">edit this planet</a>
            <form class="formDeleteCenter" method="post" action="{{ path('planet.delete', {'id': planet.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ planet.id) }}">
                <button class="btn btn_full">delete this planet</button>
            </form>
        {% endif %}
        <h2>Lifeforms :</h2>
        {% for lifeform in planet.lifeforms %}
            <div class="planetLifeform d-flex">
                <div class="planetLifeformInfo">
                    <p class="brunoAce">{{ lifeform.name|capitalize }} :</p>
                    <p> {{ lifeform.description }} </p>
                </div>
                <div class="galery">
                    <img src={{ vich_uploader_asset(lifeform, 'imageFile') }}  alt="image {{ lifeform.name }}" class="galeryImg"></img>
                    <div class="galeryLink">
                        <a href="{{ path('lifeform.show', {id: lifeform.id }) }}" class="brunoAce">See {{ lifeform.name|capitalize }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}

        <a href="{{ path('lifeform.create') }}" class="btn btn_outline btn_center">report a lifeform</a>
    </article>
</section>

<section class="reports wrapper">
    <h2>Reports :</h2>
    {% for report in planet.reportPlanets %}
        <article class="report">
            <h3>Report from
                <a href="{{ path('user', {id: report.author.id}) }}" class="d-inline">{{ report.author.username }}</a>, 
                the {{ report.createdAt|date('d-m-Y') }} at {{ report.createdAt|date('H:i') }}
                {% if report.updatedAt != null %}
                , updated the  {{ report.updatedAt|date('d-m-Y') }}  at  {{ report.updatedAt|date('H:i') }}
                {% endif %}
            </h3>
            <p> {{ report.body }} </p>

            {% if app.user != null and app.user.id == report.author.id %}
                <a href="{{ path('planet.report.edit', {id: report.id}) }}" class="btn btn_outline">edit this report</a>
                <form class="formDelete" method="post" action="{{ path('planet.report.delete', {'id': report.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ report.id) }}">
                    <button class="btn btn_full">delete this report</button>
                </form>
            {% endif %}
        </article>
    {% endfor %}
    <a href="{{ path('planet.report.add', {id: planet.id}) }}" class="btn btn_outline btn_center">create a report</a>
</section>
{% endblock %}