{% extends 'base.html.twig' %}

{% block title %} All Galaxies {% endblock %}

{% block main %}
<h1>Galaxies</h1>

<section>
    {% for galaxy in galaxies %}
    <article class="galaxyCard">
        <img src={{ vich_uploader_asset(galaxy, 'imageFile') }}  alt="image {{ galaxy.name }}"></img>
        <div class="galaxyInfo">
            <h2> {{ galaxy.name }} </h2>
            <p class="brunoAce">Current planet</p>
            <ul>
            {% for planet in galaxy.planets %}
                <li> {{ planet.name|capitalize }} </li>
            {% endfor %}
            </ul>
            <a href="{{ path('galaxy.show', {id: galaxy.id}) }}" class="btn btn_outline">See galaxy</a>
        </div>
    </article>
    {% endfor %}
</section>
{% endblock %}