{% extends 'base.html.twig' %}

{% block title %} {{ lifeform.name }} {% endblock %}

{% block main %}
<section class="lifeformHead wrapper d-flex">
    <div class="lifeformHeadInfo">
        <h1> {{ lifeform.name|upper }} </h1>
        <p><span class="brunoAce">Name :</span> {{ lifeform.name }}</p>
        <p><span class="brunoAce">Species :</span> {{ lifeform.species }}</p>
        <p><span class="brunoAce">Behavior :</span> {{ lifeform.behavior }}</p>

        <p>created by 
            <a href="" class="d-inline">{{ lifeform.author.username }}</a>, 
            the {{ lifeform.createdAt|date('d-m-Y') }}
            {% if lifeform.updatedAt != null %}
            , updated the  {{ lifeform.updatedAt|date('d-m-Y') }}  at  {{ lifeform.updatedAt|date('H:i') }}
            {% endif %}
        </p>

    </div>
    <img src={{ vich_uploader_asset(lifeform, 'imageFile') }}  alt="image lifeform"></img>
</section>

<section class="lifeformBody wrapper">
    <article>
        <h2>Description :</h2>
        <p> {{ lifeform.description }} </p>

        {% if app.user != null and app.user.id == lifeform.author.id %}
            <a href="{ path('planet.edit', {id: lifeform.id}) }}" class="btn btn_outline btn_center">edit this lifeform</a>
            <form class="formDeleteCenter" method="post" action="{{ path('lifeform.delete', {'id': lifeform.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lifeform.id) }}">
                <button class="btn btn_full">delete this lifeform</button>
            </form>
        {% endif %}
    </article>
</section>

<section class="reports wrapper">
    <h2>Reports :</h2>
    {% for report in lifeform.reportlifeforms %}
        <article class="report">
            <h3>Report from
                <a href="" class="d-inline">{{ report.author.username }}</a>, 
                the {{ report.createdAt|date('d-m-Y') }} at {{ report.createdAt|date('H:i') }}
                {% if report.updatedAt != null %}
                , updated the  {{ report.updatedAt|date('d-m-Y') }}  at  {{ report.updatedAt|date('H:i') }}
                {% endif %}
            </h3>
            <p> {{ report.body }} </p>

            {% if app.user != null and app.user.id == report.author.id %}
                <a href="{{ path('lifeform.report.edit', {id: report.id}) }}" class="btn btn_outline">edit this report</a>
                <form class="formDelete" method="post" action="{{ path('lifeform.report.delete', {'id': report.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ report.id) }}">
                    <button class="btn btn_full">delete this report</button>
                </form>
            {% endif %}

        </article>
    {% endfor %}
    <a href="{{ path('lifeform.report.add', {id: lifeform.id}) }}" class="btn btn_outline btn_center">create a report</a>
</section>
{% endblock %}