{% extends 'base.html.twig' %}

{% block header %}
    <header class="homepage">
        {% include "/components/navbar.html.twig" %}
        <h1 class="megrim-regular">to the infinity<br>and beyond</h1>
    </header>
{% endblock %}

{% block main %}
<section>
    {% for galaxy in galaxies %}
    <article class="galaxyCard animate">
        <img src={{ vich_uploader_asset(galaxy, 'imageFile') }}  alt="image galaxy"></img>
        <div class="galaxyInfo">
            <h2> {{ galaxy.name }} </h2>
            <p class="brunoAce">Current planet</p>
            <ul>
            {% for planet in galaxy.planets %}
                <li> {{ planet.name|capitalize }} </li>
            {% endfor %}
            </ul>
            <a href="{{ path('galaxy.show', {id: galaxy.id}) }}" class="btn btn_outline">See galaxy</a>
        </div>
    </article>
    {% endfor %}
</section>

<section class="justify-content-center align-item-center wrapper">
    <article id="recipeCarousel" class="carousel slide" data-interval="false">
    <h2>The six latest planets :</h2>
        <div class="carousel-inner">
        {% for planet in planets %}
            <div class="carousel-item  {{ loop.index == 1 ? 'active' : '' }}">
                <div class="card planetCard">
                    <div class="card-img planetImg">
                        <img src={{ vich_uploader_asset(planet, 'imageFile') }} class="d-block w-100" alt="image planet"></img>
                    </div>
                    <div class="planetInfo">
                        <h3>{{ planet.name|upper }}</h3>
                        <ul>
                            <li><span class="brunoAce">Galaxy :</span> {{ planet.galaxy }} </li>
                            <li><span class="brunoAce">Category :</span> {{ planet.type }} </li>
                            <li><span class="brunoAce">Condition :</span> {{ planet.lifeCondition }} </li>
                            <li><span>Life :</span>
                                {% if planet.lifeforms is not empty %} 
                                    {% for lifeform in planet.lifeforms %} 
                                        {{ lifeform.name|capitalize }}
                                    {% endfor %}
                                {% else %}
                                    None
                                {% endif %}
                            </li>
                        </ul>
                        <a href="{{ path('planet.show', {id: planet.id}) }}" class="btn btn_outline">See planet</a>
                    </div>
                </div>
            </div>
        {% endfor %}

        </div>
        <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </article>
</section>

<section class="reportBtn">
    <a href="{{ path('planet.add')}}" class="btn btn_outline">report a planet</a>
</section>
        
{% endblock %}